.button {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
  background: var(--red);
  height: myclamp(40px, 40px, 1440px, 2560px);
  border-radius: 100px;
  overflow: hidden;
  border-bottom: 3px solid var(--white);
  box-sizing: content-box;
  transition: 0.3s;

  &:before,
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: -3px;
    background: var(--white);
    width: 51%;
    height: calc(100% + 3px);
    transition: 0.5s;
  }

  &:before {
    left: 0px;
    transform: translate(-101%, 0%);
  }

  &:after {
    right: 0px;
    transform: translate(101%, 0%);
  }

  span {
    display: block;
    position: relative;
    color: var(--white);
    transition: 0.5s;
    font-weight: 500;
    font-size: myclamp(16px, 16px, 1440px, 2560px);
    line-height: 1;
    padding: 0px myclamp(30px, 60px, 1440px, 2560px);
    z-index: 2;
    &:before {
      content: '';
      width: 50px;
      height: 200px;
      position: absolute;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--white) 50%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.7;
      top: 50%;
      left: -50px;
      animation: move-across 4s linear infinite;
    }
  }
  @media (hover: hover) {
    &:hover {
      span {
        color: var(--blue);
      }
      &:before,
      &:after {
        transform: translate(0%, 0%);
      }
    }
  }
}

@keyframes move-across {
  0%,
  70% {
    transform: translate(-20px, -50%) rotate(25deg);
  }
  100% {
    transform: translate(300px, -50%) rotate(25deg);
  }
}
