.section--map {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 100svh;

  .titles {
    margin-top: myclamp(16px, 32px, 1440px, 2560px);
    margin-bottom: myclamp(20px, 32px, 1440px, 2560px);
    .subtitle {
      max-width: myclamp(280px, 700px, 1440px, 2560px);
      @media (max-width: 767px) {
        br {
          display: none;
        }
      }
    }
  }
}

#map {
  width: 97%;
  @media (max-width: 767px) {
    width: 90%;
  }
  margin: 0 auto;
  flex: 1;
}
