:root {
  --font: 'vtb', sans-serif;

  --bg: #0024b3;
  --blue: #0a2896;
  --blue-medium: #1e4bd2;
  --color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --red: #e62632;
  --invalid: #ff0000;
}

@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'preloader';
@import 'header';
@import 'typography';
@import 'buttons';
@import 'swiper';
@import 'tabs';
@import 'section__hero';
@import 'section__stage';
@import 'section__wardrobe';
@import 'section__makeup';
@import 'soon';
