@charset "UTF-8";
:root {
  --font: "vtb", sans-serif;
  --bg: #0024b3;
  --blue: #0a2896;
  --blue-medium: #1e4bd2;
  --color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --red: #e62632;
  --invalid: #ff0000;
}

@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-regular.woff2") format("woff2"), url("../fonts/vtb-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-bold.woff2") format("woff2"), url("../fonts/vtb-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-mdium.woff2") format("woff2"), url("../fonts/vtb-mdium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  background: var(--white) url("../img/preloader/bg.webp") no-repeat center center/cover;
  color: var(--white);
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}
a[aria-current=page] {
  pointer-events: none;
}

.main {
  opacity: 1;
  transition: opacity 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge legacy */
}
.main.hidden {
  opacity: 0;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: opacity 0.5s ease-in-out 0s, transform 1s ease-in-out 0.3s;
  opacity: 0;
  padding-top: clamp(50px, 4.1667vw, 60px);
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: clamp(320px, 83.3333vw, 2133px);
}

hr {
  display: block;
  position: relative;
  width: 100%;
  border: none;
  height: 16px;
  background: url("../img/hr.webp") no-repeat center center;
  background-size: auto 100%;
}
hr.big {
  height: 30px;
  background: url("../img/hr-big.webp") no-repeat center center;
  background-size: auto 100%;
}
hr.invers {
  transform: scaleY(-1);
}
hr.star {
  width: 24px;
  height: 24px;
  background: url("../img/header/star.webp") no-repeat center center;
  background-size: 180%;
}

.floor {
  display: block;
  position: relative;
  width: 100%;
  height: clamp(20px, 1.3889vw, 36px);
  z-index: 1;
  transition: opacity 0.5s;
  opacity: 0;
}

.floor {
  position: relative;
}
.floor:after {
  content: "";
  width: 100%;
  height: clamp(160px, 11.8056vw, 302px);
  background: url("../img/floor.webp") no-repeat center center/cover;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.floor:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: clamp(160px, 11.8056vw, 302px);
  width: clamp(496px, 40.8333vw, 1045px);
  height: clamp(363px, 29.8611vw, 764px);
  transform: translate(-50%, 0%);
  background: url("../img/circle.webp") no-repeat center center/cover;
}

.loaded .section,
.loaded .floor {
  opacity: 1;
}
.loaded .section.hidden,
.loaded .floor.hidden {
  opacity: 0;
}

.preloader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 100;
}
.preloader.hidden {
  pointer-events: none;
}

.preloader__content {
  display: flex;
  position: relative;
  width: 190px;
  height: 156px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.preloader__content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/preloader/castle.webp") no-repeat center bottom/cover;
  opacity: 0.3;
  transition: 0.6s;
}
.preloader__content .preloader__image {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0%;
  transition: height 1s linear 0s, transform 2s ease-in 0s, opacity 2s ease-out 0s;
  background: url("../img/preloader/castle.webp") no-repeat center bottom/cover, url("../img/preloader/castle-door.webp") no-repeat center bottom/cover;
  opacity: 1;
  transform: scale(1) translate(0%, 0%);
  transform-origin: center 85%;
}
.preloader__content .preloader__text {
  display: block;
  position: absolute;
  top: 100%;
  width: 320px;
  text-align: center;
  color: var(--blue);
  margin-top: 78px;
  transition: 0.6s;
}
.preloader__content .preloader__text h2 {
  font-size: 26px;
  line-height: 1;
}
.preloader__content .preloader__text p {
  margin-top: 28px;
}

.hidden .preloader__image {
  transform: scale(150) translate(0%, 0%);
  opacity: 1;
  background: url("../img/preloader/castle-door.webp") no-repeat center bottom/cover;
}
.hidden .preloader__content:before {
  opacity: 0;
}
.hidden .preloader__content .preloader__text {
  opacity: 0;
}

.fixed-background {
  display: block;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100dvh;
  left: 0px;
  top: 0px;
  background: var(--blue) url("../img/header/nav-bg.webp") no-repeat center center/cover;
  z-index: 0;
  transition: transform 0.7s;
  opacity: 1;
  transform: scale(1) translate(0px, 0px);
}
.fixed-background.scaleble {
  transform: scale(0) translate(0px, 0px);
}
.fixed-background.move {
  transform: scale(1) translate(0px, clamp(50px, 4.1667vw, 60px));
}
@media (max-width: 767px) {
  .fixed-background {
    background: var(--blue) url("../img/header/nav-bg-mobil.webp") no-repeat center center/cover;
  }
}

.header {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
  width: 100%;
  height: clamp(50px, 4.1667vw, 60px);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: clamp(20px, 3.4722vw, 50px);
  padding-left: clamp(20px, 4.1667vw, 60px);
  transform: translate(0%, 0%);
  transition: transform 1s;
}
.header.scaleble {
  transform: translate(0%, -100%);
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: url("../img/header/bg.webp") no-repeat center center/cover;
  box-shadow: 0px 4px 8px rgba(10, 40, 150, 0.2);
  z-index: 1;
}
.header > * {
  z-index: 2;
}

.loaded .header {
  transform: translate(0%, 0%);
}

.logo {
  display: block;
  width: clamp(79.06px, 6.275vw, 90px);
  height: clamp(28px, 2.2222vw, 32px);
}

.burger {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 32px;
  height: 32px;
  font-size: 0px;
  z-index: 2;
}
.burger span, .burger:before, .burger:after {
  position: absolute;
  height: 5px;
  width: 100%;
  background: url("../img/header/burger-bg.webp") no-repeat center center/cover;
  transition: transform 0.6s;
  opacity: 1;
  z-index: 1;
  border-radius: 2.5px;
}
.burger:before, .burger:after {
  content: "";
}
.burger span {
  transform: scale(1);
  transition: transform 0.6s;
}
.burger:before {
  transform: translate(0px, -9px) rotate(0deg);
}
.burger:after {
  transform: translate(0px, 9px) rotate(0deg);
}
.burger.open span {
  transform: scale(0);
}
.burger.open:before {
  transform: translate(0px, 0px) rotate(45deg);
}
.burger.open:after {
  transform: translate(0px, 0px) rotate(-45deg);
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100svh;
  z-index: 19;
  padding: clamp(50px, 4.1667vw, 60px) 0px clamp(20px, 2.0833vw, 30px) 0px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.navigation.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px 26px;
  text-align: center;
  margin: auto;
  padding: clamp(50px, 5.5556vw, 80px) 0px;
}
@media (max-width: 1023px) {
  .menu {
    gap: 20px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .menu {
    max-width: 320px;
  }
}
.menu:before, .menu:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  background: url("../img/header/star.webp") no-repeat center center/cover;
  pointer-events: none;
}
.menu:before {
  bottom: calc(100% - clamp(50px, 4.1667vw, 60px));
}
.menu:after {
  top: calc(100% - clamp(50px, 4.1667vw, 60px));
}
.menu li {
  width: calc((100% - 78px) / 3);
  order: 1;
}
.menu li:last-child {
  order: 4;
}
@media (max-width: 1023px) {
  .menu li {
    width: calc((100% - 20px) / 2);
  }
  .menu li:nth-child(4) {
    order: 3;
  }
}
.menu li a {
  display: flex;
  position: relative;
  width: clamp(150px, 21.875vw, 315px);
  left: 50%;
  transform: translate(-50%, 0%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: clamp(10px, 0.9722vw, 14px);
}
.menu li img {
  position: relative;
  width: clamp(100px, 8.8889vw, 128px);
  height: clamp(70px, 7.6389vw, 110px);
  margin: 0 auto;
  transform: scale(1);
  transition: 0.6s;
  -o-object-fit: contain;
     object-fit: contain;
}
.menu li b {
  font-size: clamp(18px, 1.9444vw, 28px);
  font-weight: 500;
}
@media (min-width: 768px) {
  .menu li b {
    white-space: nowrap;
  }
}
.menu li p {
  max-width: clamp(150px, 14.5833vw, 210px);
  font-weight: 400;
  font-size: clamp(12px, 1.1111vw, 16px);
  line-height: 1.4;
}
@media (hover: hover) {
  .menu li:hover img {
    transform: scale(1.1);
  }
}

.map-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  align-self: end;
  justify-self: center;
}

.column {
  position: fixed;
  width: auto;
  height: calc(100dvh - clamp(50px, 4.1667vw, 60px));
  top: clamp(50px, 4.1667vw, 60px);
  transition: transform 0.5s ease-in-out 0s, opacity 0.5s;
  z-index: 18;
  pointer-events: none;
}
.column img {
  display: block;
  height: 100%;
  width: auto;
}
.column.column--left {
  left: 0px;
  transform: translate(-2%, 0%);
}
.column.column--left.scaleble {
  transform: translate(-100%, 0%);
}
.column.column--right {
  right: 0px;
  transform: translate(2%, 0%);
}
.column.column--right.scaleble {
  transform: translate(100%, 0%);
}

.loaded .column {
  transition: transform 0.5s ease-out 0.5s, opacity 0.5s;
}
.loaded .column.column--left {
  transform: translate(-2%, 0%);
}
.loaded .column.column--left.in-main-page {
  transform: translate(-40%, 0%);
}
.loaded .column.column--right {
  transform: translate(2%, 0%);
}
.loaded .column.column--right.in-main-page {
  transform: translate(40%, 0%);
}
.loaded .column.hidden {
  opacity: 0;
}

.titles {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.titles.ta--l {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
@media (max-width: 599px) {
  .titles {
    gap: 12px;
  }
}

.title {
  display: block;
  text-align: center;
  line-height: 1.2;
}
.title.title--h1 {
  font-size: clamp(28px, 2.7778vw, 71px);
}
.title.title--h2 {
  font-size: clamp(32px, 2.6389vw, 68px);
}
.title.title--h3 {
  font-size: clamp(20px, 1.9444vw, 50px);
}

.subtitle {
  font-size: clamp(16px, 1.25vw, 32px);
  line-height: 1.4;
  text-align: center;
}
.subtitle.subtitle--16 {
  font-size: clamp(16px, 1.1111vw, 28px);
}

.ta--l .subtitle,
.ta--l .title {
  text-align: left;
}

.button {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--red);
  height: clamp(40px, 2.7778vw, 71px);
  border-radius: 100px;
  overflow: hidden;
  border-bottom: 3px solid var(--white);
  box-sizing: content-box;
  transition: 0.3s;
}
.button:before, .button:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -3px;
  background: var(--white);
  width: 51%;
  height: calc(100% + 3px);
  transition: 0.5s;
}
.button:before {
  left: 0px;
  transform: translate(-101%, 0%);
}
.button:after {
  right: 0px;
  transform: translate(101%, 0%);
}
.button span {
  display: block;
  position: relative;
  color: var(--white);
  transition: 0.5s;
  font-weight: 500;
  font-size: clamp(16px, 1.1111vw, 28px);
  line-height: 1;
  padding: 0px clamp(30px, 4.1667vw, 107px);
  z-index: 2;
}
.button span:before {
  content: "";
  width: 50px;
  height: 200px;
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--white) 50%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.7;
  top: 50%;
  left: -50px;
  -webkit-animation: move-across 4s linear infinite;
          animation: move-across 4s linear infinite;
}
@media (hover: hover) {
  .button:hover span {
    color: var(--blue);
  }
  .button:hover:before, .button:hover:after {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes move-across {
  0%, 70% {
    transform: translate(-20px, -50%) rotate(25deg);
  }
  100% {
    transform: translate(300px, -50%) rotate(25deg);
  }
}

@keyframes move-across {
  0%, 70% {
    transform: translate(-20px, -50%) rotate(25deg);
  }
  100% {
    transform: translate(300px, -50%) rotate(25deg);
  }
}
.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: clamp(32px, 3.1944vw, 82px);
  height: clamp(32px, 3.1944vw, 82px);
  border: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 19;
  overflow: hidden;
  border-radius: 46px;
  background: url("../img/header/bg.webp") no-repeat center center/cover;
}
.swiper-arrow:before {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.6s;
}
.swiper-arrow[data-arrow-prev]:before {
  background: url("../img/svg/arrow-prev.svg") no-repeat center center/cover;
  -webkit-animation: arrowPrevAnim 4s ease-in-out infinite;
          animation: arrowPrevAnim 4s ease-in-out infinite;
}
.swiper-arrow[data-arrow-next]:before {
  background: url("../img/svg/arrow-next.svg") no-repeat center center/cover;
  -webkit-animation: arrowNextAnim 4s ease-in-out infinite;
          animation: arrowNextAnim 4s ease-in-out infinite;
}
.swiper-arrow.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Анимации для стрелок */
@-webkit-keyframes arrowPrevAnim {
  0%, 30% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(-54%, 0%);
  }
  45% {
    transform: translate(-46%, 0%);
  }
  50% {
    transform: translate(-52%, 0%);
  }
  55% {
    transform: translate(-49%, 0%);
  }
  60% {
    transform: translate(-51%, 0%);
  }
  65%, 100% {
    transform: translate(-50%, 0%);
  }
}
@keyframes arrowPrevAnim {
  0%, 30% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(-54%, 0%);
  }
  45% {
    transform: translate(-46%, 0%);
  }
  50% {
    transform: translate(-52%, 0%);
  }
  55% {
    transform: translate(-49%, 0%);
  }
  60% {
    transform: translate(-51%, 0%);
  }
  65%, 100% {
    transform: translate(-50%, 0%);
  }
}
@-webkit-keyframes arrowNextAnim {
  0%, 30% {
    transform: translate(-50%, 0%);
  }
  40% {
    transform: translate(4%, 0%);
  }
  45% {
    transform: translate(-4%, 0%);
  }
  50% {
    transform: translate(2%, 0%);
  }
  55% {
    transform: translate(-1%, 0%);
  }
  60% {
    transform: translate(1%, 0%);
  }
  65%, 100% {
    transform: translate(0%, 0%);
  }
}
@keyframes arrowNextAnim {
  0%, 30% {
    transform: translate(-50%, 0%);
  }
  40% {
    transform: translate(4%, 0%);
  }
  45% {
    transform: translate(-4%, 0%);
  }
  50% {
    transform: translate(2%, 0%);
  }
  55% {
    transform: translate(-1%, 0%);
  }
  60% {
    transform: translate(1%, 0%);
  }
  65%, 100% {
    transform: translate(0%, 0%);
  }
}
[data-tabs] [data-tab] {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}
[data-tabs] [data-tab].active {
  position: relative;
  pointer-events: all;
  opacity: 0;
}
[data-tabs] [data-tab] .swiper-arrow {
  z-index: 19;
}
[data-tabs] [data-tab] .swiper-arrow[data-arrow-prev] {
  left: clamp(4px, 0.8333vw, 21px);
}
[data-tabs] [data-tab] .swiper-arrow[data-arrow-next] {
  right: clamp(4px, 0.8333vw, 21px);
}

.loaded [data-tabs] [data-tab].active {
  opacity: 1;
}

.section--hero {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  transform: scale(0);
}
.section--hero.show {
  opacity: 1;
  transform: scale(1);
}
.section--hero .titles {
  padding-top: 32px;
}
.section--hero .titles .subtitle {
  max-width: clamp(490px, 34.0278vw, 871px);
}
@media (max-width: 1279px) {
  .section--hero .titles .title {
    max-width: 500px;
  }
}
@media (max-width: 599px) {
  .section--hero .titles {
    padding-top: 20px;
  }
  .section--hero .titles .subtitle {
    max-width: 330px;
  }
}
@media (max-height: 639px) and (max-width: 599px) {
  .section--hero .titles {
    margin-bottom: 26px;
  }
}

.loaded .section--hero {
  transform: scale(1);
}

.foue {
  display: flex;
  position: absolute;
  bottom: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.foue .scroll-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  position: absolute;
  overflow-x: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin-bottom: -20px;
  flex: 1;
}
.foue .scroll-area .foue__navigation {
  display: inline-flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  height: calc(103.7svh - 180px);
  margin: 0px auto;
}
.foue .scroll-area .foue__navigation .foue-image {
  height: calc(103.7svh - 180px);
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.door {
  position: absolute;
  z-index: 2;
  display: block;
  width: 7.6388%;
  height: 51.9736%;
  left: 0px;
  bottom: 13.3223%;
}
.door.door--director {
  left: 10.6%;
}
.door.door--buffet {
  left: 21.1%;
}
.door.door--makeup {
  left: 31.6%;
}
.door.door--stage {
  width: 13.2%;
  left: 43.4%;
}
.door.door--wardrobe {
  left: 60.7%;
}
.door.door--orchestra {
  left: 70.92%;
}
.door.door--secret {
  left: 82.5%;
  height: 54%;
  bottom: 12%;
}

.key {
  position: absolute;
  pointer-events: none;
  bottom: 33%;
  left: 80.5%;
  width: 4.3055%;
}

.select-a-play {
  position: fixed;
  right: clamp(8px, 3.6111vw, 52px);
  bottom: clamp(8px, 2.0833vw, 30px);
  width: clamp(60px, 8.3333vw, 120px);
  height: clamp(60px, 8.3333vw, 120px);
  border-radius: 120px;
  background: var(--red);
  z-index: 20;
  transition: 1s;
  transform: translate(0%, 140%);
  opacity: 0;
}
.select-a-play img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.select-a-play img.select-a-play__text {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}
@media (max-width: 414px) {
  .select-a-play {
    right: 8px;
    bottom: 8px;
  }
}

.loaded .select-a-play {
  transform: translate(0%, 0%);
  opacity: 1;
}
.loaded .select-a-play.hidden {
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.section--stage {
  display: flex;
  position: relative;
  width: 100%;
  height: 100svh;
  min-height: clamp(666px, 49.3056vw, 986px);
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}
.section--stage:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: clamp(82px, 5.6944vw, 146px);
  background: url("../img/floor.webp") no-repeat center center/cover;
  z-index: 2;
}
.section--stage .swiper-arrow[data-arrow-prev] {
  left: clamp(4px, 0.8333vw, 21px);
}
.section--stage .swiper-arrow[data-arrow-next] {
  right: clamp(4px, 0.8333vw, 21px);
}

.swiper--stage {
  z-index: 3;
  width: 100%;
  height: 100%;
}
.swiper--stage .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .swiper--stage .swiper-slide {
    padding-bottom: 65px;
  }
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 82px;
  width: clamp(560px, 54.5833vw, 1397px);
  height: clamp(409px, 39.9306vw, 1022px);
  background: url("../img/circle.webp") no-repeat center center/cover;
}
@media (max-width: 767px) {
  .circle {
    bottom: 50px;
  }
}

.circle__head {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 3%;
  width: 49.36%;
  height: 38.95%;
  background: url("../img/circle-head.webp") no-repeat center center/contain;
}
@media (max-width: 767px) {
  .circle__head {
    top: 10%;
  }
}

.circle__images {
  display: flex;
  position: absolute;
  width: 51%;
  top: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 500px;
}
.circle__images:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.circle__images .circle__image {
  position: absolute;
  transform-origin: center bottom;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transform: scale(0);
  transition: transform 1s, opacity 1s;
}
.circle__images .circle__image.circle__image--1 {
  width: 70%;
  bottom: 8.6%;
}
.circle__images .circle__image.circle__image--5 {
  left: 5%;
  bottom: 15%;
}
.circle__images .circle__image.circle__image--6 {
  bottom: 56%;
}
.circle__images .circle__image.circle__image--6.active {
  opacity: 1;
  transform: scale(1.4);
}
@media (max-width: 767px) {
  .circle__images .circle__image.circle__image--6 {
    bottom: 100%;
  }
  .circle__images .circle__image.circle__image--6.active {
    opacity: 1;
    transform: scale(2);
  }
}
.circle__images .circle__image.active {
  opacity: 1;
  transform: scale(1);
}

.character {
  display: block;
  position: relative;
  transition: 1.3s;
  transform: translateX(0%);
}
.character.character--1_1 {
  width: clamp(147px, 17.5vw, 448px);
  z-index: 2;
}
.character.character--1_2 {
  width: clamp(165px, 19.5139vw, 500px);
}
.character.character--1_3 {
  width: clamp(173px, 20.5556vw, 526px);
}
.character.character--2_1 {
  width: clamp(140px, 15.9722vw, 409px);
}
.character.character--3_1 {
  width: clamp(113px, 12.6389vw, 324px);
}
.character.character--3_2 {
  width: clamp(180px, 20.8333vw, 533px);
}
.character.character--3_3 {
  width: clamp(113px, 13.3333vw, 341px);
}
.character.character--4_1 {
  width: clamp(155px, 16.6667vw, 427px);
  z-index: 2;
}
.character.character--4_2 {
  width: clamp(310px, 34.7222vw, 889px);
}
.character.character--5_1 {
  width: clamp(130px, 14.5833vw, 373px);
  z-index: 2;
}
.character.character--5_2 {
  width: clamp(145px, 17.3611vw, 444px);
}
.character.character--6_1 {
  width: clamp(280px, 31.25vw, 800px);
}

.swiper-slide-prev .character.center {
  transform: translateX(-100%);
}
.swiper-slide-prev .character.right {
  transform: translateX(-200%);
}

.swiper-slide-next .character.center {
  transform: translate(100%, 0%);
}
.swiper-slide-next .character.left {
  transform: translate(200%, 0%);
}

.swiper-slide-active .character.character--1_1 {
  transform: translate(35%, 0%);
}
.swiper-slide-active .character.character--1_2 {
  transform: translate(5%, 0%);
}
.swiper-slide-active .character.character--1_3 {
  transform: translate(-18%, 0%);
}
.swiper-slide-active .character.character--2_1 {
  transform: translate(5%, 0%);
}
.swiper-slide-active .character.character--3_1 {
  transform: translate(35%, 0%);
}
.swiper-slide-active .character.character--3_2 {
  transform: translate(8%, 5%);
}
.swiper-slide-active .character.character--3_3 {
  transform: translate(-18%, 0%);
}
.swiper-slide-active .character.character--4_1 {
  transform: translate(28%, 0%);
}
.swiper-slide-active .character.character--4_2 {
  transform: translate(8%, 0%);
}
.swiper-slide-active .character.character--5_1 {
  transform: translate(-5%, 3%);
}
.swiper-slide-active .character.character--5_2 {
  transform: translate(0%, 3%);
}

.stage-desctiptions {
  display: block;
  position: absolute;
  height: 100%;
  z-index: 3;
  padding-top: 96px;
  padding-bottom: 12px;
  pointer-events: none;
}
@media (min-width: 1440px) {
  .stage-desctiptions {
    padding-top: clamp(72px, 6.6667vw, 133px);
  }
}
@media (max-width: 1023px) {
  .stage-desctiptions {
    padding-top: clamp(72px, 9.375vw, 135px);
  }
}
.stage-desctiptions .button {
  pointer-events: all;
}
.stage-desctiptions .stage-desctiption {
  display: flex;
  position: absolute;
  left: 0px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 14px;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
@media (min-width: 1440px) {
  .stage-desctiptions .stage-desctiption {
    top: clamp(72px, 6.6667vw, 133px);
    height: calc(100% - clamp(82px, 7.3611vw, 147px));
  }
}
@media (max-width: 1023px) {
  .stage-desctiptions .stage-desctiption {
    top: clamp(72px, 9.375vw, 135px);
    height: calc(100% - clamp(82px, 10.3516vw, 149px));
  }
}
.stage-desctiptions .stage-desctiption.active {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.stage-desctiptions .stage-desctiption .description {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(8px, 2.2222vw, 57px);
  order: 1;
}
.stage-desctiptions .stage-desctiption .description .subtitle {
  display: block;
  text-align: left;
  margin-top: -8px;
}
.stage-desctiptions .stage-desctiption .table {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(20px, 2.0833vw, 53px);
  padding: clamp(8px, 0.8333vw, 21px) clamp(14px, 1.3889vw, 36px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  order: 2;
}
.stage-desctiptions .stage-desctiption .table img {
  height: clamp(24px, 2.5vw, 64px);
}
.stage-desctiptions .stage-desctiption .table li {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(8px, 0.8333vw, 21px);
  white-space: nowrap;
  font-size: clamp(14px, 1.25vw, 32px);
  font-weight: 500;
}
.stage-desctiptions .stage-desctiption .table li.time:before {
  content: "";
  width: clamp(24px, 2.5vw, 64px);
  height: clamp(24px, 2.5vw, 64px);
  background: url("../img/stage/icon-time.webp") no-repeat center center/cover;
}
.stage-desctiptions .stage-desctiption .table li.peoples:before {
  content: "";
  width: clamp(32px, 3.3333vw, 85px);
  height: clamp(24px, 2.5vw, 64px);
  background: url("../img/stage/icon-peoples.webp") no-repeat center center/cover;
}

@media (max-width: 767px), (orientation: portrait) {
  .stage-desctiptions .stage-desctiption {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .stage-desctiptions .stage-desctiption .description {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    order: 2;
    flex: 1;
  }
  .stage-desctiptions .stage-desctiption .description .subtitle {
    text-align: center;
    margin-top: 0px;
  }
  .stage-desctiptions .stage-desctiption .description .button {
    margin-top: auto;
    min-width: 200px;
  }
}
.main[data-tabs] .titles {
  margin-top: clamp(16px, 2.2222vw, 32px);
}
.main[data-tabs] .titles .star {
  position: relative;
  transform: translate(0%, 40%);
}
.main[data-tabs] .titles .subtitle {
  max-width: clamp(270px, 42.3611vw, 1084px);
}
.main[data-tabs] .section:not([data-tab]) {
  z-index: 2;
}
.main[data-tabs] [data-tab] {
  margin-top: auto;
}

.wardrobe-navigation {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: clamp(34px, 3.4722vw, 89px);
}
.wardrobe-navigation .scroll-area {
  display: block;
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: -20px;
}
.wardrobe-navigation ul {
  display: flex;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(6px, 0.4167vw, 11px);
  margin: 0 auto;
}
.wardrobe-navigation ul li {
  padding: clamp(7px, 0.4861vw, 12px) clamp(20px, 1.3889vw, 36px);
  background: var(--blue-medium);
  color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  font-weight: 500;
  font-size: clamp(14px, 0.9722vw, 25px);
}
.wardrobe-navigation ul li.active {
  background: var(--white);
  color: var(--blue-medium);
}

.wardrobe-slider {
  position: relative;
  text-align: center;
  margin-top: auto;
  margin-top: clamp(80px, 5.5556vw, 142px);
  z-index: 2;
  transition: 1s;
  opacity: 0;
}
.wardrobe-slider .swiper-slide {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 14px;
}
.wardrobe-slider .swiper-slide .thumbnail {
  max-height: clamp(325px, 27.7778vw, 711px);
}
.wardrobe-slider .swiper-slide .title {
  color: var(--blue);
}
.wardrobe-slider .swiper-slide .button {
  margin-top: clamp(6px, 0.6944vw, 18px);
}

.loaded .wardrobe-slider {
  opacity: 1;
}

.breadcrumb-link {
  font-size: clamp(14px, 0.9722vw, 25px);
}
@media (min-width: 768px) {
  .breadcrumb-link {
    margin-bottom: -10px;
  }
}

.post {
  display: flex;
  position: relative;
  width: 100%;
  max-width: clamp(200px, 81.9444vw, 2098px);
  padding-top: clamp(10px, 1.3889vw, 36px);
  padding-bottom: clamp(50px, 6.9444vw, 178px);
  flex-direction: column;
  align-items: center;
  gap: clamp(50px, 4.8611vw, 124px);
  margin: 0 auto;
}
.post .titles {
  margin: 0 auto;
  max-width: clamp(610px, 42.3611vw, 1084px);
}
.post .titles hr.big {
  margin-bottom: 20px;
}
.post .titles hr.big.invers {
  margin-bottom: 0px;
  margin-top: 20px;
}

.post-header {
  display: flex;
  position: relative;
  width: 100%;
  max-width: clamp(280px, 59.8611vw, 1532px);
  min-height: clamp(280px, 25vw, 640px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  padding-left: clamp(280px, 29.9306vw, 766px);
  gap: clamp(32px, 2.2222vw, 57px);
}
.post-header .title {
  text-align: left;
}
.post-header .post-header__image {
  position: absolute;
  transform: rotate(-7.8deg);
  left: 2%;
  top: 0px;
  border-radius: 30px;
  width: clamp(280px, 25vw, 640px);
  height: clamp(280px, 25vw, 640px);
}
@media (max-width: 1279px) {
  .post-header .post-header__image {
    left: 0%;
  }
}
.post-header ul {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: clamp(20px, 2.2222vw, 57px);
  padding-left: clamp(24px, 1.6667vw, 43px);
}
.post-header ul li {
  list-style: disc;
  font-size: clamp(18px, 1.25vw, 32px);
  line-height: 1.2;
}
@media (max-width: 1023px) {
  .post-header {
    padding-left: 0px;
    gap: 20px;
  }
  .post-header .title {
    text-align: center;
    font-weight: 400;
  }
  .post-header .post-header__image {
    position: relative;
    transform: rotate(0deg);
    margin: 0 auto;
  }
}

.post-description {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(24px, 1.6667vw, 43px);
}
.post-description .post-description__icon {
  height: clamp(72px, 11.1111vw, 284px);
}

.post-description__content {
  display: flex;
  position: relative;
  width: clamp(300px, 44.4444vw, 1138px);
  padding: clamp(40px, 2.7778vw, 71px) clamp(20px, 1.3889vw, 36px);
  border-radius: clamp(30px, 2.0833vw, 53px);
  margin-top: clamp(10px, 1.3889vw, 36px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(20px, 1.3889vw, 36px);
  background: url("../img/wardrobe/bg.webp") no-repeat center center/cover;
  color: var(--blue);
}
@media (max-width: 767px) {
  .post-description__content {
    transform: rotate(2deg);
  }
  .post-description__content .title {
    font-size: 28px;
  }
}
.post-description__content:before {
  content: "";
  display: block;
  position: absolute;
  left: clamp(10px, 1.3889vw, 36px);
  top: -24px;
  width: clamp(57px, 3.9583vw, 101px);
  height: clamp(59px, 4.0972vw, 105px);
  background: url("../img/push-pin.webp") no-repeat center center/cover;
}
.post-description__content img {
  display: block;
  width: 100%;
  max-width: clamp(460px, 31.9444vw, 818px);
  border-radius: clamp(20px, 1.3889vw, 36px);
}
.post-description__content ul {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: clamp(20px, 1.3889vw, 36px);
  width: 100%;
  max-width: clamp(460px, 31.9444vw, 818px);
}
.post-description__content ul li {
  display: flex;
  position: relative;
  width: 100%;
  gap: clamp(10px, 1.3889vw, 36px);
  font-size: clamp(18px, 1.25vw, 32px);
  font-weight: 500;
  line-height: 1.2;
}
.post-description__content ul li:before {
  content: "";
  display: block;
  width: clamp(15px, 1.4583vw, 37px);
  height: clamp(17px, 1.5972vw, 41px);
  background: url("../img/li.webp") no-repeat center center/cover;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .post-description__content ul li:before {
    margin-top: 2px;
  }
}

.post-steps {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: clamp(40px, 4.1667vw, 107px);
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .post-steps {
    max-width: clamp(300px, 53.3333vw, 1365px);
  }
}
@media (max-width: 767px) {
  .post-steps {
    max-width: 280px;
  }
}
.post-steps li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - clamp(96px, 12.5vw, 320px)) / 4);
  gap: clamp(12px, 0.8333vw, 21px);
}
@media (max-width: 1279px) {
  .post-steps li {
    width: calc((100% - clamp(32px, 4.1667vw, 107px)) / 2);
  }
}
@media (max-width: 767px) {
  .post-steps li {
    width: 100%;
  }
}
.post-steps li h3 {
  display: inline-flex;
  align-items: center;
  align-content: center;
  width: auto;
  font-size: 32px;
  gap: 20px;
}
.post-steps li h3:before, .post-steps li h3:after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: url("../img/header/star.webp") no-repeat center center;
  background-size: 200%;
}
.post-steps li img {
  width: 100%;
  border-radius: clamp(20px, 1.3889vw, 36px);
  margin: 0 auto;
}
@media (max-width: 767px) {
  .post-steps li img {
    max-width: 250px;
  }
}
.post-steps li p {
  font-size: clamp(16px, 1.1111vw, 28px);
  line-height: 1.2;
}
@media (max-width: 767px) {
  .post-steps li p {
    text-align: center;
  }
}

.nex-page-link {
  display: flex;
  position: relative;
  width: 100%;
  max-width: clamp(240px, 30.5556vw, 782px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(16px, 1.3889vw, 36px);
  text-align: center;
}
.nex-page-link h3 {
  font-size: clamp(20px, 1.9444vw, 50px);
  font-weight: 500;
}
.nex-page-link p {
  font-size: clamp(16px, 1.25vw, 32px);
  line-height: 1.4;
}
.nex-page-link img {
  position: relative;
  transition: 0.5s;
  transform: scale(1);
  max-height: clamp(80px, 8.6111vw, 220px);
}
@media (hover: hover) {
  .nex-page-link:hover img {
    transform: scale(1.1);
  }
}

.section--makeup .titles {
  margin-top: clamp(16px, 2.2222vw, 32px);
}
.section--makeup .titles .subtitle {
  max-width: 610px;
}