:root {
  --font: "vtb", sans-serif;
  --bg: #0024b3;
  --color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --red: #e62632;
  --invalid: #ff0000;
}

@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-regular.woff2") format("woff2"), url("../fonts/vtb-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-bold.woff2") format("woff2"), url("../fonts/vtb-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "vtb";
  src: url("../fonts/vtb-mdium.woff2") format("woff2"), url("../fonts/vtb-mdium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
strong {
  color: inherit;
  font-weight: 700;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.3;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.slider-arrows {
  display: inline-flex;
  gap: 12px;
  padding-bottom: 10px;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .slider-arrows {
    gap: 10px;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .slider-arrows {
    display: none;
  }
}

.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
  margin-top: -35px;
  top: 50%;
}
.swiper-arrow[data-arrow-prev] {
  background: url("../img/svg/arrow-prev.svg") no-repeat center center;
  background-size: auto 100%;
  right: calc(100% + 14px);
}
.swiper-arrow[data-arrow-next] {
  background: url("../img/svg/arrow-next.svg") no-repeat center center;
  background-size: auto 100%;
  left: calc(100% + 14px);
}
.swiper-arrow.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.swiper-pagination {
  display: flex;
  position: relative;
  width: 100% !important;
  height: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  bottom: 0px !important;
  gap: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 50% !important;
  transform: scale(1) translate(-50%, 0%);
  margin: 0 !important;
  opacity: 0;
  width: 40px;
  height: 20px;
  border-radius: 0px;
  background: none;
  transition: 0.6s !important;
  pointer-events: none;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(200% + 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0;
  transform: translate(calc(-300% - 20px), 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-main {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 1;
  transform: translate(-50%, 0%);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(100%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  position: absolute;
  transform: scale(1);
  left: 50% !important;
  opacity: 0.3;
  transform: translate(-200%, 0%);
  pointer-events: all;
}
.swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color);
  opacity: 1;
  transition: background-color 0.3s, opacity 0.3s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  background-color: var(--brown);
}